{% if recipe.is_published == True %}
<div class="receita receitas-list-item">
    <div class="receitas-cover">
        <a href="{{recipe.get_absolute_url }}" >
            <img src="{{ recipe.cover.url}}" alt="temporario">
        </a>
    </div>
    <div class="receita-title-container">
        <h2 class="receita-title">
            {{ recipe.title }}
        </h2>
    </div>
    
    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            {% if recipe.author.first_name %}
            {{ recipe.author.first_name }}
            {% else %}
            {{ recipe.author}}
            {% endif %}
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calender-alt"></i>
            {{ recipe.created_at }}
        </span>
        <span class="recipe-author-item">
            <a href="{% url 'recipes:category' recipe.category.id %}">
                <i class="fas fa-layer-group"></i>
                <span>{{ recipe.category.name }}</span>
            </a>
        </span>
        
    </div>

    <div class="recipe-content">
       {{ recipe.description }}
    </div>
    
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                {% if recipe.preparation_time_unit != None %}
                {{ recipe.preparation_time}} {{ recipe.preparation_time_unit }}
                {% endif %}
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                {% if recipe.servings_unit != None %}
                {{ recipe.servings}} {{ recipe.servings_unit }}
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if is_detail_page is not True%}
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{{ recipe.get_absolute_url }}">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
    {% endif %}
    
    {% if is_detail_page is True%}
    <div class="preparations-steps">
        {{ recipe.preparation_steps|linebreaksbr  }}
    </div>
    {% endif %}
    

</div>
{% endif %}